/********************************************
****************** CONTATTACI ***************
********************************************/

.container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}


/********************************************
******************* 404 ********************
********************************************/

.row-404{
    flex-direction: column;
}

.row-404 img{
    min-width: 80%;
}


/********************************************
****************** CHI SIAMO ****************
********************************************/

.grid-alternate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-alternate >*{
    margin-top: 1em;
    margin-bottom: 1em;
}

/********************************************
******************* HOME ********************
********************************************/

.prodotti h2{
    padding: 0 3%;
    font-size: 1.6em;
}

.prodotti-items {
    padding-top: 1.5em;
}

.prodotti-items a{
    display: inline-block;
}

.passione h3{
    padding: 0 3%;
    font-size: 1.6em
}

.il-team h3{
    padding: 0 3%;
    font-size: 1.6em
}

.passion-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
}


.passion-1 { 
    grid-area: 2 / 1 / 3 / 2; 
    width: 80%;
    margin: auto;
}

.passion-2 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.passion-3 { 
    grid-area: 3 / 1 / 4 / 2; 
}

.passion-4 { 
    grid-area: 4 / 1 / 5 / 2; 
    width: 80%;
    margin: auto;
}

.passion-5 { 
    grid-area:  6 / 1 / 7 / 2; 
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

.passion-6 { 
    grid-area:  5 / 1 / 6 / 2;
}


/********************************************
***************** VETRINA *******************
********************************************/

.prodottoVetrina{
    max-width: 48%;
}

@media screen and (max-width: 480px){
    .lista-prodotti-stampa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .prodottoVetrina{
        max-height: 30%;
        max-width: 85%;
    }
}

.category-container {
    text-align: center;
}

/********************************************
************* PRODTTO SINGOLO ***************
********************************************/

#prodottoSingolo{
    flex-direction: column;
    margin: auto;
}


.sezioneProdottoSingolo{
    margin: auto;
    width: 90%;
    padding-bottom: 2em;
}

#infoPrincipaliProdotto dd {
    text-align: center;
}

#immagineProdotto {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prodottoSingolo img{
    margin-right: 0;
    width: 75%;
}

#prodottoSingolo #immagineProdotto{
    margin-right: auto;
    width: 75%;
}


/********************************************
****************** LOGIN ********************
********************************************/

#login-form {
    width: 95%;
    padding: 3em 0;
}

/********************************************
************* AREA RISERVATA ****************
********************************************/

#area-riservata ul {
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 1.3em;
}

#area-riservata li {
    margin-bottom: 1.3em;
}


/********************************************
***** AREA RISERVATA GESTIONE ARTICOLI ******
********************************************/

#area-riservata-gestione-articoli h2{
    width: 100%;
    margin-bottom: 1em;
}

#area-riservata-gestione-articoli #crea-articolo {
    width: 40%;
    float: none;
    margin: auto;
    margin-bottom: 3em;
    padding: 0.5em 0;
}

#area-riservata-gestione-articoli li img {
    width: 20%;
}

#area-riservata-gestione-articoli ul li a{
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 35%;
    padding: 0.5em 0;
}


/********************************************
********* AREA RISERVATA ARTICOLO ***********
********************************************/

#gestione-articolo-form {
    width: 85%;
}

.form-row-container {
    width: 100%;
}

.form-row-container .form-col-50 {
    width: 100%;
    margin: 0;
}

.form-row-container .form-col-50:first-child {
    margin: 0;
}

#gestione-articolo-form input, #gestione-articolo-form textarea {
    width: 98%;
}

#gestione-articolo-form select {
    margin-bottom: 1em;
}


/********************************************
***** AREA RISERVATA GESTIONE RICHIESTE *****
********************************************/

.richiesta {
    width: 100%;
    display: block;
    padding: 0.5em;
    float: none;
}

#lista-richieste li {
    padding: 1.5em 0;
}

.richiesta dt {
    float: left;
    padding-right: 0.6em;
    position: inherit;
    height: auto;
    width: auto;
}

.richiesta dd {
    border: none;
}

.richiesta .stato {
    min-width: initial;
}

#lista-richieste li a{
    width: 80%;
    float: none;
    margin: auto 0.4em;
    margin: auto;
    margin-top: 0.6em;
    padding: 0.4em;
    font-size: 1.3em;
}

#lista-richieste li a:before {
    content: "Vai al dettaglio richiesta";
    padding-right: 0.3em;
}

/********************************************
********** AREA RISERVATA RICHIESTA *********
********************************************/

#area-riservata-richiesta a {
    width: 90%;
    padding: 0.6em 0;
}


/********************************************
****************** HEADER *******************
********************************************/

header{
    position: fixed;
    width: 100%;
    z-index: 500;
}

#menu ul{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--bodyBgColor);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#menu .menu-not-visible{
    display: none;
}

#menu li{
    width: 100%;
}


#menu li:first-child{
    height: 35px;
    width: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#header-container h1{
    padding-left: 3%;
}


#menu li:nth-child(8){
    border-left: none;
}


#menu a{
    width: 100%;
}

#menu #dashboard{
    display: flex;
    align-items:start;
}

#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}

#open-menu-mobile{
    display: flex;
    background: url(images/more.png);
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    border: none;
    text-indent: -999em;
}

#menu #close-menu-mobile{
    display: flex;
    background: url(images/close.png);
    height: 44px;
    width: 44px;
    margin-left: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    text-indent: -999em;
}


/********************************************
************** BREADCRUMB *******************
********************************************/

#breadcrumb p{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 90px;
}