* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(255,255,255);
    --bodyBgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Times New Roman", serif;
    --borderColor: #8F8F8F;
}

html {
    font-size: 12pt;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bodyBgColor);
}

header {
    text-align: left;
    padding: 1em 0;
    margin: 0.5em 0;
}

header h1 {
    content: url('./images/logo.png');
    margin: auto;
    width: 4cm;
}

#menu {
    display: none;
}

#breadcrumb {
    padding: 0.5em 0;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    font-weight: bold;
}

#breadcrumb a{
    color: var(--txtColor);
}

.aiuti-navigazione {
    display: none;
}

footer {
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    border-top: 1px solid var(--borderColor);
    padding: 1.3em 0.5em;
    margin-top: 2em;
}

h2 {
    margin-bottom: 0.5em;
}

form input, form textarea{
    margin-bottom: 1em;
}

form label{
    display: block;
}

form input[type="submit"]{
    display: block;
    background: none;
    border: 1px solid var(--txtColor);
    padding: 0.3em 1em;
}

/********************************************
******************** HOME *******************
********************************************/

.prodotti {
    display: none;
}

.passion-grid {
    margin-top: 0.5em;
}

.passion-1, .passion-4, .passion-5 {
    display: none;
}

.passion-2, .passion-3, .passion-6 {
    margin-bottom: 1em;
}

.team-section {
    margin-top: 1em;
    overflow: hidden;
}

.profile {
    width: 25%;
    float: left;
}

.profile img {
    width: 35%;
    margin: auto;
    display: block;
}

.profile .name{
    text-align: center;
}

.team-section p{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

/********************************************
****************** CONTATTI *****************
********************************************/
#contenuto .container:nth-child(3) {
    display: none;
}

#contenuto .container td {
    padding: 0.3em 1em;
}

/********************************************
****************** DOVE SIAMO ***************
********************************************/

.container {
    margin-bottom: 1em;
}

#dove-siamo .container a {
    display: none;
}

.container dt {
    margin-top: 0.5em;
    font-weight: bold;
}

/********************************************
****************** CHI SIAMO ****************
********************************************/

.grid1-alt, .grid3-alt, .grid5-alt {
    margin-bottom: 1em;
}

.grid-alternate img {
    display: none;
}

/********************************************
******************* VETRINA *****************
********************************************/

#vetrina h2 {
    text-align: center;
}

.lista-prodotti-stampa li{
    overflow: hidden;
    display: flex;
    margin-bottom: 2em;
}

.lista-prodotti-stampa li img {
    width: 15%;
}

.lista-prodotti-stampa li dl {
    margin-left: 2em;
    flex-grow: 2;
    align-self: center;
}

.lista-prodotti-stampa li dl dt {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

.lista-prodotti-stampa li a {
    display: none;
}


/********************************************
************* PRODOTTO SINGOLO **************
********************************************/

#prodottoSingolo img{
    display: block;
    width: 30%;
    margin: auto;
}

#prodottoSingolo a {
    display: none;
}

#prodottoSingolo dl dt {
    float: left;
    margin-right: 0.4em;
    font-weight: bold;
}

#prodottoSingolo dl dd {
    margin-bottom: 0.4em;
}


/********************************************
*************** AREA RISERVATA **************
********************************************/
#area-riservata .icon-box{
    display: none;
}

#area-riservata .text-box{
    margin: 1em 0;
}

#area-riservata a{
    color: var(--txtColor);
}

/********************************************
***** AREA RISERVATA GESTIONE ARTICOLI ******
********************************************/

#area-riservata-gestione-articoli .link-button {
    display: none;
}

#area-riservata-gestione-articoli h2 {
    text-align: center;
}

/********************************************
********* AREA RISERVATA ARTICOLO ***********
********************************************/

#area-riservata-articolo h2 {
    text-align: center;
}

#area-riservata-articolo label[for="descrizioneArticolo"]{
    display: block;
}

/********************************************
***** AREA RISERVATA GESTIONE RICHIESTE *****
********************************************/
#lista-richieste a {
    display: none;
}

#lista-richieste li {
    margin-bottom: 1.1em;
}   

.richiesta dt {
    font-weight: bold;
}

.richiesta dt, .richiesta dd {
    display: inline-block;
}

.richiesta dd:not(:last-child)::after {
    content: " - ";
}

/********************************************
********** AREA RISERVATA RICHIESTA *********
********************************************/
#area-riservata-richiesta p {
    text-align: justify;
}

#area-riservata-richiesta .link-button {
    display: none;
}

/********************************************
******************** 404 ********************
********************************************/
#pagina-404 img{
    display: none;
}

#pagina-404 .col-2 h1, #pagina-404 .col-2 h3 {
    margin-bottom: 0.5em;
}