* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(255,255,255);
    --headerTxtColor: rgb(0,0,0);
    --linkColor: rgb(0,0,0);
    --visitedLinkColor: #2868FF;
    --linkHoverColor: rgb(255,255,255);
    --flagColor: #2868FF;
    --bodyBgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Roboto Condensed", sans-serif;
    --linkColorForRgba: 0,0,0;
    --visitedLinkColorForRgba: 40,104,255;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bodyBgColor);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aiuti-navigazione {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/********************************************
****************** HEADER *******************
********************************************/

header {
    padding: 0.5em 0;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    border-bottom: 2px solid var(--flagColor);
}

#header-container {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#header-container h1 { 
    width: 7%;
    align-self: center;
    margin-right: 1%;
    font-size: 3em;
    line-height: 1.5em;
    text-indent: -999em;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#menu {
    flex-grow: 2;
    align-self: center;
    text-align: left;
}

#menu ul {
    padding: 1em;
    padding-right: 0;
    margin: auto;
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    padding: 0 1.5em;
}

#menu ul li:last-child {
    float: right;
    padding-right: 0;
}

#menu a:link {
    color: var(--linkColor);
}

#menu a:visited {
    color: var(--visitedLinkColor);
}

/********************************************
******************* MAIN ********************
********************************************/

main {
    color: var(--txtColor);
    margin: 0em auto;
    max-width: 1024px;
}

main #breadcrumb {
    margin: 0.5em 0 0.5em 0;
}

main h2 {
    margin-bottom: 1em;
    text-align: center;
}

main a {
    color: var(--linkColor);
}

main a:visited {
    color: var(--visitedLinkColor);
}

/********************************************
****************** CHI SIAMO *******************
********************************************/

.grid-alternate {
    display: grid;
    background-color: var(--bodyBgColor);
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 0.8em;
    row-gap: 0.8em;
}


.grid-alternate img{
    max-width:100%;
    max-height:100%;
}

.grid1-alt p {
    font-size: 1.5em;
	line-height: 1.5em;
}
    
.grid1-alt { grid-area: 1 / 1 / 1 / 6; }
.grid2-alt { grid-area: 2 / 1 / 2 / 4; }
.grid3-alt { grid-area: 2 / 4 / 2 / 6; }
.grid4-alt { grid-area: 3 / 1 / 3 / 3; }
.grid5-alt { grid-area: 3 / 3 / 3 / 6; }
.grid6-alt { grid-area: 4 / 1 / 4 / 6; }




/********************************************
***************** VETRINA *******************
********************************************/


.prodottoVetrina{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: start;

    border: 1.5px solid var(--flagColor);
    border-radius: 10px;
}
.prodottoVetrina img{
    display: block;
    width: 100%;
    
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.info{
    padding: 0.8em;
    flex-grow: 2;
}
.categoriaProdottoVetrina{
    display: block;
    width: 100%;
    text-align: center;

    border-top: 1.5px solid var(--flagColor);
    border-bottom: 1.5px solid var(--flagColor);
}
.prodottoVetrina dl > dt{
    font-weight: bold;
    float: left;
    padding-right: 0.3em;
}
.prodottoVetrina a{
    color: var(--linkColor);
    display: block;
    text-align: center;
    align-self: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 100%;

    border-top: 1.5px solid var(--flagColor);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.prodottoVetrina a:visited{
    color: var(--visitedLinkColor);
}
.prodottoVetrina a:hover{
    color: var(--linkHoverColor);
    background-color: var(--flagColor);
}
.nomeProdottoVetrina{
    font-weight: bold;
    font-size: 110%;
    padding-bottom: 0.5em;
}
.dtNonAmbiguoProdotto{
    position:absolute; /* DEVO Spostare di -999em (a sinistra) */
    left:-999em;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto auto auto auto auto;
    gap: 1em 1em;
	padding: 1em;
}




/********************************************
********* PAGINA PRODOTTO SINGOLO ***********
********************************************/

.prodottoSingolo{
    background-color: var(--bodyBgColor);
    /*padding: 0.5em;*/
    list-style-type: none;
    /* padding: 0.5em;*/
    /* text-align: left; */ /* Serve metterlo o è di default? */
}
.nomeProdottoSingolo{
    font-weight: bold;
    font-size: 110%;
    text-align: center;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.prodottoSingolo img{
    float: left;
    width: 50%;
    margin-right: 1em;
}
.prodottoSingolo dl{
    border-top: 1.5px solid var(--flagColor);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.prodottoSingolo dl > dt{
    float: left;
}
.prodottoSingolo .linkContattaci{
    color: var(--linkColor);
    width: 100%;
    display: block;
    text-align: center;
    align-self: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-top: 1.5px solid var(--flagColor);
    border-bottom: 1.5px solid var(--flagColor);
}
.prodottoSingolo .linkContattaci:visited{
    color: var(--visitedLinkColor);
}
.prodottoSingolo .linkContattaci:hover{
    color: var(--linkHoverColor);
    background-color: var(--flagColor);
}
#tabellaInfoProdotto{
    text-align: center;
    width: 47%;
    border-collapse: collapse;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}
#tabellaInfoProdotto th, #tabellaInfoProdotto td{
    text-align: left;
    font-weight: normal;

    border: 1px solid var(--flagColor);

    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}




/********************************************
****************** CONTATTACI *******************
********************************************/

.container {
    width: 80%;
	text-align: center;
    margin-top: 5em;
    padding: 3em;
    -webkit-box-shadow: 0px 0px 32px 8px rgba(40, 104, 255, 0.13);
    -moz-box-shadow: 0px 0px 32px 8px rgba(40, 104, 255, 0.13);
    box-shadow: 0px 0px 32px 8px rgba(40, 104, 255, 0.13);
}

.container > dl > dt {
	font-weight: bold;
}

.container > dl > dd {
	margin-bottom: 1em;
}

#contactsForm {
    margin-top: 2em;
}

#contactsForm input, #contactsForm textarea {
	width: 80%;
    display: block;
    margin: 0.8em auto;
    margin-bottom: 1em;
    padding: 0.4em 0.2em;
}
#contactsForm input[type="submit"] {
	width: 50%;
    padding: 0.6em 3em;
    margin-top: 2em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#contactsForm input[type="submit"]:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}




/********************************************
****************** DOVE SIAMO *******************
********************************************/

address {
	margin: 1.5em;
}

/********************************************
****************** FOOTER *******************
********************************************/

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1em;
    margin-top: auto;
    border-top: 2px solid var(--flagColor);
    text-align: center;
}

/********************************************
****************** LOGIN ********************
********************************************/
#area-riservata-login {
    width: 100%;
}

#login-form {
    width: 40%;
    margin: 4em auto;
    padding: 3em;
    box-shadow: 0px 0px 32px 8px rgba(40, 104, 255, 0.13);
}

#login-form form {
    margin-top: 2em;
    text-align: center;
}

#login-form form div {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#login-form form input {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 0.4em 0.2em;
}

#login-form form input[type="submit"] {
    padding: 0.6em 3em;
    margin-top: 1.4em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#login-form form input[type="submit"]:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}




/********************************************
***** AREA RISERVATA GESTIONE ARTICOLI ******
********************************************/
#area-riservata-gestione-articoli h2 {
    display: inline-block;
    line-height: 2em;
    margin-bottom: 2em;
}

#area-riservata-gestione-articoli #crea-articolo, #area-riservata-gestione-articoli ul li a{
    padding: 0.35em 0;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    text-align: center;
    transition: .2s; 
    -moz-transition: none; /* TODO: CHIEDERE ALLA PROF SE VA BENE, TOLTO PERCHE' NON FUNZIONA SU FIREFOX IL TRANSITION CON IL VISITED. */
}

#area-riservata-gestione-articoli #crea-articolo:hover, #area-riservata-gestione-articoli ul li a:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

#area-riservata-gestione-articoli #crea-articolo:visited, #area-riservata-gestione-articoli ul li a:visited {
    color: var(--flagColor);
    border-color: var(--flagColor);
}

#area-riservata-gestione-articoli #crea-articolo:visited:hover, #area-riservata-gestione-articoli ul li a:visited:hover {
    color: var(--linkHoverColor);
    background-color: var(--flagColor);
}

#area-riservata-gestione-articoli #crea-articolo {
    width: 15%;
    float: right;
    text-decoration: none;
}

#area-riservata-gestione-articoli li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

#area-riservata-gestione-articoli li img {
    width: 10%;
    margin-right: 1em;
    align-self: center;
}

#area-riservata-gestione-articoli li dl {
    width: 70%;
    align-self: center;
    flex-grow: 2;
}

#area-riservata-gestione-articoli li dl dt {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

#area-riservata-gestione-articoli li a {
    width: 15%;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

#area-riservata-gestione-articoli li a span{
    display: inline-block;
    text-indent: -999em;
}




/********************************************
********* AREA RISERVATA ARTICOLO ***********
********************************************/
#gestione-articolo-form {
    width: 55%;
    margin: auto;
}

#gestione-articolo-form label {
    display: block;
    margin-bottom: 0.2em;
}

#gestione-articolo-form input, #gestione-articolo-form textarea {
    width: 98%;
    margin-bottom: 1em;
    padding: 0.6em 0.3em;
}

#gestione-articolo-form input[type="radio"]{
    width: 5%;
}

#gestione-articolo-form label{
    width: auto;
    display: inline;
}

#gestione-articolo-form form input[type="submit"] {
    width: 100%;
    padding: 0.6em 3em;
    margin-top: 2em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#gestione-articolo-form form input[type="submit"]:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

#gestione-articolo-form fieldset {
    border: none;
}

#gestione-articolo-form fieldset legend{
    margin-bottom: 0.4em;
}




/********************************************
************* AREA RISERVATA ****************
********************************************/
#area-riservata {
    width: 100%;
}

#area-riservata h2 {
    margin-bottom: 0.7em
}

#area-riservata > p {
    text-align: center;
}

#area-riservata ul {
    display: grid;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 5em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3em;
    list-style: none;
}

#area-riservata ul li {
    background-position: center;
    background-size: cover;
}

#area-riservata ul a {
    display: flex;
    padding: 4em 2em;
    text-decoration: none;
    transition: .4s;
    -moz-transition: none; /* TODO: CHIEDERE ALLA PROF SE VA BENE, TOLTO PERCHE' NON FUNZIONA SU FIREFOX IL TRANSITION CON IL VISITED. */
    color: var(--bodyBgColor);
    background-color: rgba(var(--linkColorForRgba), 0.7);
}

#area-riservata ul a:visited {
    background-color: rgba(var(--visitedLinkColorForRgba), 0.7);
}

#area-riservata ul a:hover {
    background-color: rgba(var(--linkColorForRgba), 0.9);
}

#area-riservata ul a:visited:hover {
    background-color: rgba(var(--visitedLinkColorForRgba), 0.9);
}

#area-riservata ul a .text-box p {
    font-size: 1em;
}

#area-riservata ul a .text-box p:first-child {
    font-size: 1.8em;
    line-height: 2em;
    text-decoration: underline;
}

#area-riservata ul .icon-box{
    padding-left: 2em;
    flex-grow: 2;
    text-align: center;
    font-size: 2.4em;
    line-height: 2em;
    align-self: center;
}

#contenitore-link-articoli {
    background-image: url(./images/piano.png);
}

#contenitore-link-richieste {
    background-image: url(./images/messaggi.png);
}

/********************************************
******************* HOME ********************
********************************************/

.cover-image {
    width: 100%;
    height: 100vh;
    background-image: url('./imgs/chitarre.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}

  
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.3); /* Imposta il colore e l'opacità desiderati */
}

.prodotti{
    margin-top: 3em;
}

.prodotti h2{
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: left;
}

.prodotti-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
  }
  
.prodotti-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.prodotti-items img{
    max-width:90%;
    max-height:90%;
    transition: transform .1s;

}
  
.prodotti-items:hover {
    transform: scale(1.2);
}
  


.passione h3{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 30px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

hr{
    margin-bottom: 2em;
    color: var(--flagColor);
}

.grid-box img{
    max-width:100%;
    max-height:100%;
}

.grid-box p {
    font-size: 1.5em;
    line-height: 1em;
    padding: 1em;
}
    
.grid1 { grid-area: 1 / 1 / 3 / 3; }
.grid2 { grid-area: 1 / 3 / 2 / 6; }
.grid3 { grid-area: 2 / 4 / 4 / 6; }
.grid4 { grid-area: 3 / 2 / 5 / 4; }
.grid5 { grid-area: 3 / 1 / 5 / 2; }
.grid6 { grid-area: 4 / 4 / 6 / 6; }



.il-team h3{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 30px;
}


.team-section {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}


.team-section p{
    font-size: large;
    text-align: center;
    margin: auto;
}

.profile {
    display: inline-block;
    margin: 10px;
}

.profile img {
    width: 150px;
    border-radius: 50%;
}

.name {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
}
