* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(255,255,255);
    --headerTxtColor: rgb(0,0,0);
    --linkColor: rgb(0,0,0);
    --visitedLinkColor: #2868FF;
    --linkHoverColor: rgb(255,255,255);
    --flagColor: #2868FF;
    --bodyBgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Roboto Condensed", sans-serif;
    --linkColorForRgba: 0,0,0;
    --visitedLinkColorForRgba: 40,104,255;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bodyBgColor);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body a {
    color: var(--linkColor);
}

body a:visited {
    color: var(--visitedLinkColor);
}

.aiuti-navigazione {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/********************************************
****************** HEADER *******************
********************************************/

header {
    padding: 0.5em 0;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    border-bottom: 2px solid var(--flagColor);
}

#header-container {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#header-container h1 { 
    width: 7%;
    align-self: center;
    margin-right: 1%;
    font-size: 3em;
    line-height: 1.5em;
    text-indent: -999em;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#menu {
    flex-grow: 2;
    align-self: center;
    text-align: left;
}

#menu ul {
    padding: 1em;
    padding-right: 0;
    margin: auto;
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    padding: 0 1.5em;
}

#menu ul li:last-child {
    float: right;
    padding-right: 0;
}

#menu a:link {
    color: var(--linkColor);
}

#menu a:visited {
    color: var(--visitedLinkColor);
}

/********************************************
******************* MAIN ********************
********************************************/

main {
    max-width: 1024px;
    width: 100%;
    margin: 0.5em auto 2em auto;
    color: var(--txtColor);
}

main h2, h3 {
    margin: 1em 0;
    text-align: center;
}

#breadcrumb {
    max-width: 1024px;
    width: 100%;
    margin: 0.5em auto;
}

/********************************************
****************** CHI SIAMO *******************
********************************************/

.grid-alternate {
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto auto auto auto auto;
    gap: 1em 1em;
	padding: 1em;
}

.grid-alternate img{
    max-width:100%;
    max-height:100%;
}

.grid1-alt p {
    font-size: 1.5em;
	line-height: 1.5em;
}
    
.grid1-alt { grid-area: 1 / 1 / 1 / 6; }
.grid2-alt { grid-area: 2 / 1 / 2 / 4; }
.grid3-alt { grid-area: 2 / 4 / 2 / 6; }
.grid4-alt { grid-area: 3 / 1 / 3 / 3; }
.grid5-alt { grid-area: 3 / 3 / 3 / 6; }
.grid6-alt { grid-area: 4 / 1 / 4 / 6; }

/********************************************
****************** CONTATTACI ***************
********************************************/

.container {
	text-align: center;
    margin-top: 5em;
    padding: 3em;
    box-shadow: 0px 0px 32px 8px rgba(var(--visitedLinkColorForRgba), 0.13);
}

.container > dl > dt {
	font-weight: bold;
}

.container > dl > dd {
	margin-bottom: 1em;
}

#contactsForm {
    margin-top: 2em;
}

#contactsForm input, #contactsForm textarea {
	width: 80%;
    display: block;
    margin: 0.8em auto;
    margin-bottom: 1em;
    padding: 0.4em 0.2em;
}

#contactsForm input[type="submit"] {
	width: 50%;
    padding: 0.6em 3em;
    margin-top: 2em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#contactsForm input[type="submit"]:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

/********************************************
****************** DOVE SIAMO ***************
********************************************/

address {
	margin: 1.5em;
}

/********************************************
****************** FOOTER *******************
********************************************/

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1em;
    margin-top: auto;
    border-top: 2px solid var(--flagColor);
    text-align: center;
}

/********************************************
****************** LOGIN ********************
********************************************/
#login-form {
    width: 40%;
    margin: 4em auto;
    padding: 3em;
    box-shadow: 0px 0px 32px 8px rgba(40, 104, 255, 0.13);
}

#login-form form {
    margin-top: 2em;
    text-align: center;
}

#login-form form div {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#login-form form input {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 0.4em 0.2em;
}

#login-form form input[type="submit"] {
    padding: 0.6em 3em;
    margin-top: 1.4em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#login-form form input[type="submit"]:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

/********************************************
************* AREA RISERVATA ****************
********************************************/
#area-riservata {
    width: 100%;
}

#area-riservata h2 {
    margin: 0.7em 0;
}

#area-riservata > p {
    text-align: center;
}

#area-riservata ul {
    display: grid;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 5em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3em;
    list-style: none;
}

#area-riservata ul li {
    background-position: center;
    background-size: 100%;
    transition: .5s;
}

#area-riservata ul li:hover {
    background-size: 130%;
}

#area-riservata ul a {
    display: flex;
    padding: 4em 2em;
    text-decoration: none;
    color: var(--bodyBgColor);
    background-color: rgba(var(--linkColorForRgba), 0.8);
}

#area-riservata ul a:visited {
    background-color: rgba(var(--visitedLinkColorForRgba), 0.8);
}

#area-riservata ul a .text-box p {
    font-size: 1em;
}

#area-riservata ul a .text-box p:first-child {
    font-size: 1.8em;
    line-height: 2em;
    text-decoration: underline;
}

#area-riservata ul .icon-box{
    padding-left: 2em;
    flex-grow: 2;
    text-align: center;
    font-size: 2.4em;
    line-height: 2em;
    align-self: center;
}

#contenitore-link-articoli {
    background-image: url(./images/piano.png);
}

#contenitore-link-richieste {
    background-image: url(./images/messaggi.png);
}

/********************************************
***** AREA RISERVATA GESTIONE ARTICOLI ******
********************************************/
#area-riservata-gestione-articoli h2 {
    display: inline-block;
    line-height: 2em;
    margin-bottom: 2em;
}

#area-riservata-gestione-articoli #crea-articolo, #area-riservata-gestione-articoli ul li a{
    padding: 0.35em 0;
    border-width: 2px;
}

#area-riservata-gestione-articoli #crea-articolo {
    width: 15%;
    float: right;
}

#area-riservata-gestione-articoli li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

#area-riservata-gestione-articoli li img {
    width: 10%;
    margin-right: 1em;
    align-self: center;
}

#area-riservata-gestione-articoli li dl {
    width: 70%;
    align-self: center;
    flex-grow: 2;
}

#area-riservata-gestione-articoli li dl dt {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

#area-riservata-gestione-articoli li a {
    width: 15%;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

#area-riservata-gestione-articoli li a span{
    display: inline-block;
    text-indent: -999em;
}

/********************************************
********* AREA RISERVATA ARTICOLO ***********
********************************************/
#gestione-articolo-form {
    width: 55%;
    margin: auto;
}

#gestione-articolo-form label {
    display: block;
    margin-bottom: 0.2em;
}

#gestione-articolo-form input, #gestione-articolo-form textarea {
    width: 96%;
    margin-bottom: 1em;
    padding: 0.6em 0.3em;
}

#gestione-articolo-form input[type="radio"]{
    width: 5%;
}

#gestione-articolo-form label{
    width: auto;
    display: inline;
}

#gestione-articolo-form select {
    width: 100%;
    padding: 0.5em 0.3em;
    margin-top: 0.4em;
    display: block;
}

#gestione-articolo-form form input[type="submit"]{
    width: 98%;
    padding: 0.6em 3em;
    margin-top: 2em;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    background-color: var(--bodyBgColor);
    transition: .2s;
}

#gestione-articolo-form form input[type="submit"]:hover{
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}
.form-row-container{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
}

.form-row-container .form-col-50{
    width: 48%;
    margin-left: 2%;
    border: none;
}

.form-row-container .form-col-50:first-child{
    margin-left: 0;
    margin-right: 2%;
}
/********************************************
***** AREA RISERVATA GESTIONE RICHIESTE *****
********************************************/
#lista-richieste li{
    padding: 0.8em 0;
    border-bottom: 1px solid var(--flagColor);
    overflow: hidden;
}

#lista-richieste li:last-child{
    border-bottom: none;
}

#lista-richieste li a{    
    width: 9%;
    float: right;
    font-size: 1.6em;
    line-height: 1.4em;
}

#area-riservata ul a .text-box p {
    font-size: 1em;
}

#area-riservata ul a .text-box p:first-child {
    font-size: 1.8em;
    line-height: 2em;
    text-decoration: underline;
}

.richiesta {
    width: 85%;
    display: flex;
    float: left;
    padding-top: 0.5em;
}

.richiesta dt{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.richiesta dd{
    padding: 0 1em;
    border-right: 1px solid black;
}

.richiesta dd:last-child{
    border-right: none;
}

.richiesta .descrizione {
    flex-grow: 3;
}

.richiesta .stato {
    min-width: 14%;
}

.richiesta.richiesta-da-leggere {
    font-weight: bold;
}

/********************************************
********** AREA RISERVATA RICHIESTA *********
********************************************/
#area-riservata-richiesta > p {
    text-align: center;
}

#area-riservata-richiesta a{    
    width: 42%;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 1em auto;
    padding: 0.5em 0;
}

.link-button {
    display: block;
    color: var(--linkColor);
    border: 1px solid var(--linkColor);
    text-align: center;
    text-decoration: none;
    transition: .2s;
    -moz-transition: none;
}

.link-button:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

.link-button:visited{
    color: var(--flagColor);
    border-color: var(--flagColor);
}

.link-button:visited:hover {
    color: var(--linkHoverColor);
    background-color: var(--flagColor);
}

/********************************************
******************* HOME ********************
********************************************/

.cover-image {
    width: 100%;
    height: 80vh;
    background-image: url('./imgs/chitarre.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.3);
}

.prodotti{
    margin-top: 3em;
}

.prodotti h2{
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: left;
}

.prodotti-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}

.prodotti-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.prodotti-items img{
    max-width:90%;
    max-height:90%;
    transition: transform .1s;
}

.prodotti-items:hover {
    transform: scale(1.2);
}

.passione h3{
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: left;
    margin-top: 2em;
}


.passion-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
    
.passion-1 { 
    grid-area: 1 / 1 / 3 / 3;
    height: 600px;
}


.passion-2 {
    grid-area: 1 / 3 / 3 / 5; 
    height: 600px;  
}

.passion-3 { 
    grid-area: 3 / 1 / 5 / 3; 
    height: 600px;  
}

.passion-4 { 
    grid-area: 3 / 3 / 5 / 5; 
    height: 600px;  
}

.passion-5 { 
    grid-area: 5 / 1 / 7 / 3; 
    height: 600px;  
}

.passion-6 { 
    grid-area: 5 / 3 / 7 / 5; 
    height: 600px;  
} 

.passion-grid img{
    max-width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 6px;
}

.passione p {
    font-size: 1.45em;
    line-height: 1.3em;
    text-align: center;
    margin: 0em 2em;
    padding: 30% 0;
}

hr{
    margin-bottom: 2em;
    color: var(--flagColor);
}


.il-team h3{
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: left;
    margin-top: 3em;
}

.team-section {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.team-section p{
    font-size: large;
    text-align: center;
    margin: auto;
}

.profile {
    display: inline-block;
    margin: 10px;
}

.profile img {
    width: 150px;
    border-radius: 50%;
}

.name {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
}


/********************************************
******************* 404 ********************
********************************************/


.row-404{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.row-404 .col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.row-404 .col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.row-404 .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
  
}

.row-404 .col-2 h3{
    font-size: 35px;
    line-height: 40px;
    margin: 25px 0px;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
  
}

.row-404 .col-2 p{
    text-align: center;
    margin: 25px 0px;
    padding-left: 3em;
    padding-right: 3em;
}