* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(255,255,255);
    --headerTxtColor: rgb(0,0,0);
    --linkColor: rgb(0,0,0);
    --visitedLinkColor: #2868FF;
    --linkHoverColor: rgb(255,255,255);
    --flagColor: #2868FF;
    --bodyBgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Roboto Condensed", sans-serif;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bodyBgColor);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/********************************************
****************** HEADER *******************
********************************************/

header {
    padding: 0.5em 0;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    border-bottom: 2px solid var(--flagColor);
}

#header-container {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#header-container h1 { 
    width: 7%;
    align-self: center;
    margin-right: 1%;
    font-size: 3em;
    line-height: 1.5em;
    text-indent: -999em;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#menu {
    flex-grow: 2;
    align-self: center;
    text-align: left;
}

#menu ul {
    padding: 1em;
    margin: auto;
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    padding: 0 1.5em;
}

#menu ul li:last-child {
    float: right;
}

#menu a:link {
    color: var(--linkColor);
}

#menu a:visited {
    color: var(--visitedLinkColor);
}

/********************************************
******************* MAIN ********************
********************************************/

main {
    color: var(--txtColor);
    margin: 1em auto;
    max-width: 1024px;
}

main #breadcrumb {
    margin: 0.5em 0 1.5em 0;
}

main h2 {
    margin-bottom: 1em;
    text-align: center;
}

main a {
    color: var(--linkColor);
}

main a:visited {
    color: var(--visitedLinkColor);
}



/********************************************
***************** VETRINA *******************
********************************************/

#vetrina{
    display: grid;
    background-color: var(--bodyBgColor); /* var(--bodyBgColor) */
    /* border: 1px solid rgb(230, 230, 230); */
    border-radius: 4px;
    /* grid-template-columns: repeat(auto-fit, minmax(9em, 1fr)); */
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding: 0.5em;
}
.elementovetrina{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px; /* da capire come far sparire l'angolino dell'immagine che compre il bordo tondo */
    list-style-type: none;
    /* padding: 0.5em;*/
    /* text-align: left; */ /* Serve metterlo o è di default? */
}
.elementovetrina img{
    display: block;
    width: 100%;
    margin:auto;
}
#vetrina .elementovetrina{
    background-color: rgba(255, 255, 255, 0.8); /* Solo di prova */
}
.elementovetrina dl{
    background-color: rgba(255, 255, 255, 0.8); /* Solo di prova */
    padding: 0.5em;
}
.elementovetrina dl > dt{
    font-weight: bold;
    float: left;
    padding-right: 0.3em;
}



/********************************************
************** AREA RISERVATA ***************
********************************************/
#area-riservata h2 {
    display: inline-block;
    margin-bottom: 3em;
}

#area-riservata #crea-articolo, #area-riservata ul li a{
    padding: 0.35em 0;
    border: 2px solid var(--linkColor);
    color: var(--linkColor);
    text-align: center;
    transition: .2s;
}

#area-riservata #crea-articolo:hover, #area-riservata ul li a:hover {
    background-color: var(--linkColor);
    color: var(--linkHoverColor);
}

#area-riservata #crea-articolo:visited, #area-riservata ul li a:visited {
    color: var(--flagColor);
    border-color: var(--flagColor);
}

#area-riservata #crea-articolo:visited:hover, #area-riservata ul li a:visited:hover {
    color: var(--linkHoverColor);
    background-color: var(--flagColor);
}

#area-riservata #crea-articolo {
    width: 15%;
    float: right;
    text-decoration: none;
}

#area-riservata ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#area-riservata li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

#area-riservata li img {
    width: 10%;
    margin-right: 1em;
    align-self: center;
}

#area-riservata li dl {
    width: 70%;
    align-self: center;
    flex-grow: 2;
}

#area-riservata li dl dt {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

#area-riservata li a {
    width: 15%;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

#area-riservata li a span{
    display: inline-block;
    text-indent: -999em;
}

/********************************************
****************** FOOTER *******************
********************************************/

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1em;
    margin-top: auto;
    border-top: 2px solid var(--flagColor);
    text-align: center;
}